In [55]:
from pytrends.request import TrendReq
import json
import requests
import datetime as dt

# Google Trends

In [44]:
query = 'Queen Elizabeth'
pytrend = TrendReq()
pytrend.build_payload(kw_list=[query])

In [46]:
# Historical Interest
historical = pytrend.interest_over_time()[query]
historical

date
2017-09-17      1
2017-09-24      1
2017-10-01      1
2017-10-08      1
2017-10-15      1
             ...
2022-08-07      1
2022-08-14      2
2022-08-21      1
2022-08-28      2
2022-09-04    100
Name: Queen Elizabeth, Length: 260, dtype: int64

In [48]:
# Interest by Region
regions = pytrend.interest_by_region()
regions = regions.sort_values(by=query, ascending=False)
regions = regions[0:10]
regions

                      Queen Elizabeth
geoName
Bahrain                           100
Canada                             50
Puerto Rico                        50
United Arab Emirates               50
United Kingdom                     50
Ireland                            50
Australia                          50
Jamaica                            50
Mongolia                           50
New Zealand                        50

In [50]:
# Related Queries
related = pytrend.related_queries()
related = related[query]['top']
related

                                   query  value
0                    the queen elizabeth    100
1                              the queen    100
2            queen elizabeth nail polish     62
3                           elizabeth ii     57
4                     queen elizabeth ii     57
5                    queen elizabeth age     27
6             how old is queen elizabeth     25
7             queen elizabeth nail color     24
8      queen elizabeth nail polish color     22
9               queen elizabeth hospital     21
10                         prince philip     19
11                            queen mary     18
12                      queen of england     15
13            elizabeth queen of england     15
14  queen elizabeth favorite nail polish     15
15              queen elizabeth children     15
16                queen elizabeth mother     14
17                             the crown     14
18               queen elizabeth husband     14
19             the crown queen elizabeth     13
20                 young queen elizabeth     12
21        queen elizabeth ii nail polish     12
22                 queen elizabeth young     12
23                        prince charles     11
24                        queen victoria     11

# News API

In [56]:
# Read in credential string and save as a dictionary
with open('../../../../Dropbox/100DaysOfCodePRIVATE/Day95Creds.json') as file:
    creds = json.loads(file.read())

NEWS_ENDPOINT = "https://newsapi.org/v2/everything"
NEWS_KEY = creds['NEWS_API']

# STEP 2: Fetch top three articles that mention the query
# Use https://newsapi.org/docs/endpoints/everything

today = dt.datetime.today().strftime('%Y-%m-%d')
news_url = f'{NEWS_ENDPOINT}?q={query.lower()}&from={today}&sortBy=publishedAt&apiKey={NEWS_KEY}&language=en'
response = requests.get(news_url)

In [58]:
# Print status, return data
print('News response status code:', response.status_code)
response.raise_for_status()
news_data = response.json()
news = news_data['articles']

# Save select info from top three articles
top_three_articles = ''
for i in range(0, 3):
    article = news[i]
    top_three_articles += f'Title: {article["title"]}\nURL: {article["url"]}\nBrief:{article["description"]}\n\n'
print(top_three_articles)

News response status code: 200
Title: Why Princess Anne is walking behind Queen's coffin - but other female royals are in car
URL: https://www.mirror.co.uk/news/royals/princess-anne-walking-behind-queens-27969375
Brief:The Queen's children, King Charles, Princess Anne, Prince Andrew and Prince Edward, walked in a line behind their mother's coffin as it is taken from the Palace of Holyroodhouse to the nearby St Giles' Cathedral in Edinburgh.

Title: Primark to close all shops for Queen's funeral on Monday as Bank Holiday announced
URL: https://www.mirror.co.uk/news/royals/primark-close-shops-queens-funeral-27971403
Brief:The retailer's 191 stores will remain closed on September to give colleagues a chance to pay their respects to the late monarch. The shops will open the following day, on September 20

Title: The latest university to mishandle a faculty speech controversy: CMU and the case of Professor Anya
URL: https://leiterreports.typepad.com/blog/2022/09/the-latest-university-to-mishandle-a-faculty-speech-controversy.html
Brief:I suppose it was inevitable that the death last week of the Queen of England would lead to a Twitter controversy, and it did. There is a full account, with screen shots, at CHE. Professor Uju Anya (Carnegie-Mellon), upon hearing...